.filePreviewer {
  background-color: #f9f9f9;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 1;

  border: 1px solid #eee;
  padding: 4px;

  display: flex;
  flex-direction: column;
}

.closeIconWrap {
  position: absolute;
  top: 4px;
  right: 10px;
  cursor: pointer;
}

.textarea {
  width: 100%;
  flex: 1;
  border: none;
  outline: none;
  padding: 4px;
}

.saveBtn {
  margin: 8px;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .filePreviewer {
    width: 100%;
    border: none;
  }
}
